/* =============================================================================
   Buttons
   ========================================================================== */

button {
	// @include transition(all 0.3s);
	background: none;
	border: 0;
	letter-spacing: 2px;

	&:disabled {
		opacity: 0.5;	
	}

	&:active,
	&:focus {
		outline: none;
	}
}


.menu-btn {
	text-transform: uppercase;
	@include font-size(13);
	padding: 1em;
	// background: #000;
	// color: #FFF;
	text-align: center;
	line-height: 0;
	width: 40px;
	height: 40px;
	&:before {
		display: inline-block;
		width: 12px;
		height: 12px;
		line-height: 1;
		font-size: 1em;
		vertical-align: middle;
	}
}


.overlay-btn {
	position: relative;
	display: block;

	&:after {
		@include transition(all 0.3s ease);
		content: '';
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(#FFF, 0.6);
		visibility: hidden;
	}

	.overlay {
		visibility: hidden;
		opacity: 0;
		display: block;
		left: 10%;
		right: 10%;
		top: 50%;
		bottom: auto;
		@include translateY(-50%);
		@include transition(all 0.3s ease);
		.no-csstransforms {
			top: 2em;
		}
	}

	&:hover {
		&:after,
		.overlay {
			opacity: 1;
			visibility: visible;			
		}
	}

	> img {
		display: block;
	}
}

.button {
	position: relative;
	@include inline-block;
	padding: 6px 12px 6px 25px;
	color: #FFF;
	@include font-size(15);
	@include gillsans-medium;
	text-transform: uppercase;
	line-height: 22px;
	text-shadow: none;
	border: none;
	background: #0258ad;
	@include box-shadow(none);
	@include transition(all,.3s);

	&:after {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 18px 0 15px 10px;
		border-color: transparent transparent transparent #0258ad;
		position: absolute;
		right: -10px;
		top: 0;
		@include transition(all,.3s);
	}

	&:before {
		content: '';
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 18px 0 18px 10px;
		border-color: transparent transparent transparent #FFF;
		position: absolute;
		left: 0px;
		top: 0;		
	}	

	&:hover {
		// margin-left: 10px;
		background: lighten(#0258ad, 10%);
		
		&:after{
			border-color: transparent transparent transparent lighten(#0258ad, 10%) !important;
		}
	}

	&.alt {
		background: #FFF;
		border: 1px solid #0258ad;
		color: #0258ad;

		&:after, &:before {
			display: none;
		}

		&:hover {
			background: #0258ad;
			color: #FFF;
		}
	}
}

input.button, button.button {
	padding: 6px 25px 6px;
}