$red: #c1272d;
$orange: #fff0e3;

.orange {
	
	.button {
		background: $red;

		&:after {
			border-color: transparent transparent transparent $red;
		}

		&.alt {
			background: #FFF;
			border: 1px solid $red;
			color: $red;

			&:hover {
				background: $red;
				color: #FFF;
			}
		}		
	}

	h1, h3, h3, h4 {
		color: #bf1e2e;
	}	


	#header {
		.top {
			background: $orange;

			.ecommerce-options, .phone {
				padding-top: 3.5em;

				a {

					&:hover {
						color: $red;
						
						i {
							background: $red;
						}					
					}
				}
			}			
		}
	}

	.owl-carousel {

		.item {
			.caption {
				a.link:hover {
					color: $red;
				}
			}

			&:hover {
				.caption {
					background-color: $red;

					h1, p, .link {
						color: #FFF;
					}
				}
			}
		}
	}

	#quick-links {
		a:hover {
			h1 {
				color: #FFF;
				background: $red;
			}
		}
	}

	.woocommerce, .woocommerce-page & {
		.woocommerce-error,
		.woocommerce-message,
		.woocommerce-notice,
		.woocommerce-info {

			a {

				&.button {
					@extend .button;
					background: $red;
				}
			}
		}


		#content {
			div.product	{
				.product-inner {
					.summary {
						.product_title {
							color: $red;
						}
					}
				}

				form.cart .button {
					@extend .button;
				}
			}

	        > ul.products {
	            li, li.product {	

		            a:hover {
		            	background: $orange;
		            }	
	        	}
			}			
		}	
	}

	#footer {

		aside {
			ul {
				li {
					a:hover {
						color: $red;
					}
				}				
			} 
		} 
		.footer-navigation {

			ul.menu {
				li {
					a:hover {
						color: $red;
					}					
				}
			}
		}
	}
}