$red: #c1272d;
$orange: #fff0e3;
$sage: #90A681;

.orange {
	
	.button {
		background: $red;

		&:after {
			border-color: transparent transparent transparent $red;
		}

		&.alt {
			background: #FFF;
			border: 1px solid $red;
			color: $red;

			&:hover {
				background: $red;
				color: #FFF;
			}
		}		
	}

	h1, h3, h3, h4 {
		color: #bf1e2e;
	}	

	.logo-container {

		.logo {

			&:hover {
				&:after {
					color: $red;
				}
			}		
		}	
	}	

	#header {
		.top {
			background: $orange;

			.ecommerce-options, .phone {
				padding-top: 3.5em;

				a {

					&:hover {
						color: $red;
						
						i {
							background: $red;
						}					
					}
				}
			}			
		}

		.navigation { 

			li {

				a {

					&:hover {
						color: $red;
					}							
				}
			}
		}

		#header-navigation {
			.current-menu-item, .current-product_cat-ancestor {

				> a {
					color: $red;
				}			
			}
		}
	}

	.owl-carousel {

		.item {
			.caption {
				a.link:hover {
					color: $red;
				}
			}

			&:hover {
				.caption {
					background-color: $red;

					h1, p, .link {
						color: #FFF;
					}
				}
			}
		}
	}

	#quick-links {
		a:hover {
			h1 {
				color: #FFF;
				background: $red;
			}
		}
	}

	.woocommerce, .woocommerce-page & {
		.woocommerce-error,
		.woocommerce-message,
		.woocommerce-notice,
		.woocommerce-info {

			a {

				&.button {
					@extend .button;
					background: $red;
				}
			}
		}


		#content {
			div.product	{
				.product-inner {
					.summary {
						.product_title {
							color: $red;
						}
					}
				}

				form.cart .button {
					@extend .button;
				}
			}

	        > ul.products {
	            li, li.product {	

		            a:hover {
		            	background: $orange;
		            }	
	        	}
			}			
		}	
	}

	#footer {

		aside {
			ul {
				li {
					a:hover {
						color: $red;
					}
				}				
			} 
		} 
		.footer-navigation {

			ul.menu {
				li {
					a:hover {
						color: $red;
					}					
				}
			}
		}
	}
}

$sage: #4d5645;
$lightsage: #799AA1;

.sage {
	
	.button {
		background: $sage !important;

		&:hover{
			color: #fff !important;
		}

		&:after { 
			border-color: transparent transparent transparent $sage !important;
		}

		&.alt {
			color: #fff !important;
			background: $sage !important;
			border: none !important;
		}

		// &.checkout-button{
		// 	color: #fff !important;
		// 	background: $sage !important;
		// }		
	}

	h1, h3, h3, h4 {
		color: $sage;
	}	

	.logo-container {

		.logo {
			&:after {
				color: #FFF;
			}

			&:hover {
				&:after {
					color: $lightsage;
				}
			}		
		}	
	}	

	#header {
		.top {
			background: $sage;

			.ecommerce-options, .phone {
				padding-top: 3.5em;

				a {
					color: #FFF;

					i {
						background: #FFF;
						color: $sage;
					}

					&:hover {
						color: $lightsage;
						
						i {
							background: $lightsage;
							color: #FFF;
						}					
					}
				}
			}			
		}

		.navigation { 

			li {

				a {

					&:hover {
						color: $lightsage;
					}							
				}
			}
		}

		#header-navigation {
			.current-menu-item, .current-product_cat-ancestor {

				> a {
					color: $lightsage;
				}			
			}
		}
	}

	.owl-carousel {

		.item {
			.caption {
				a.link:hover {
					color: $lightsage;
				}
			}

			&:hover {
				.caption {
					background-color: $lightsage;

					h1, p, .link {
						color: #FFF;
					}

					.link:hover{
						color: #fff;
					}
				}
			}
		}
	}

	#quick-links {
		a:hover {
			h1 {
				color: #FFF;
				background: $lightsage;
			}
		}
	}

	.woocommerce, .woocommerce-page & {
		.woocommerce-error,
		.woocommerce-message,
		.woocommerce-notice,
		.woocommerce-info {

			a {

				&.button {
					@extend .button;
					background: $sage;
				}
			}
		}


		#content {
			div.product	{
				.product-inner {
					.summary {
						.product_title {
							color: $sage;
						}
					}
				}

				form.cart .button {
					@extend .button;
				}
			}

	        > ul.products {
	            li, li.product {	

		            a:hover {
		            	background: $lightsage;

		            	h3, span {
		            		color: #FFF;
		            	}
		            }	
	        	}
			}			
		}

		#gifts #content > ul.products li a:hover .gift-top{
			background: $lightsage;
		}	
	}

	#footer {

		aside {
			ul {
				li {
					a:hover {
						color: $lightsage;
					}
				}				
			} 
		} 
		.footer-navigation {

			ul.menu {
				li {
					a:hover {
						color: $lightsage;
					}					
				}
			}
		}
	}
}