/* =============================================================================
   Grid
   ========================================================================== */

.clearfix,
.container {
	*zoom: 1;

	&:before,
	&:after {
	    content: " ";
	    display: table;
	}

	&:after {
		clear: both;
	}
}

.clear,
.clearfix,
.container {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

.container {
	@include box-sizing(border-box);
	width: 80%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	position: relative;

	@include device-width(9) {
		width: 90%;
	}


	@include device-width(10) {
		width: auto;
	}

	@include device-width(8) {
		padding: 0 10px;
	}
}

.span {
	min-height: 2px;
	padding-left: 10px;
	padding-right: 10px;
	float: left;
	display: block;
	position: relative;
	@include box-sizing(border-box);
	z-index: 100;

	&.alpha {
		padding-left: 0;
	}

	&.omega {
		padding-right: 0;
	}
}
 
$columns: ((one, 10%), (one-sixth, 16.66666%), (two, 20%), (one-fifth, 20%), (two-and-half, 25%), (one-fourth, 25%), (quarter, 25%), (three, 30%), (three-three, 33.3333333%), (third, 33.3333333%), (one-third, 33.3333333%), (four, 40%), (five, 50%), (six, 60%), (two-thirds, 66.666666%), (seven, 70%), (seven-and-half, 75%), (eight, 80%), (nine, 90%), (ten, 100%));
$total_columns: length($columns);

$i: 1;
@each $column in $columns {
	$class: nth($column, 1);
	$width: nth($column, 2);
	
	.span.#{$class} {
		width: ($width);
	}

	.push-#{$class} {
		margin-left: ($width);
	}

	.pull-#{$class} {
		margin-left: -($width);
	}
	
	$i: $i + 1;
}

.break-on-tablet {
	@include device-width(8) {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

.break-on-mobile {
	@include device-width(5) {
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
	}
}

.left, .alignleft {
	float: left;
}

.right, .alignright {
	float: right;
}

.clear-left {
	clear: left;
}

.clear-right {
	clear: right;
}

.aligncenter,
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.full-height {
	height: 100%;
}