html {
	height: 100%;
	font-size: 62.5%;
}

body {
	height: 100%;
	background: #FFF;
	color: #000;
	@include font-size(14);
	line-height: 1.5;
	min-width: 300px;
	-webkit-font-smoothing: antialiased;

	@include american;
}

#tortilla {
	position: relative;
}

#header {
	@extend .clearfix;

	@include device-width(8) {
		.container {
			padding: 0 !important;
		}		
	}

	.one-third {
		@include device-width(9) {
			width: 50%;
		}

		@include device-width(6) {
			width: 100%;
		}
	}

	.top {
		background: #d4e5f4;
		color: #FFF;
		padding: 35px 0 30px;

		.orange & {
			background: #fff0e3;
		}

		i {
			color: #FFF;
			background: #333333;
			@include border-radius(25px);
			padding: 10px 9px;
			@include font-size(13);

			&.icon-basket {
				padding: 10px 6px;
				@include font-size(12);
			}				
		}		

		.ecommerce-options, .phone {
			padding-top: 1.5em;
		}

		.ecommerce-options {
			text-align: right;		

			a {
				@include font-size(13);
				color: #2f2f2f;
				margin-left: 30px;
			}

			@include device-width(6) {
				text-align: center;

				a {
					margin: 0 15px;
				}
			}				
		}

		.phone {
			color: #2f2f2f;

			@include device-width(9) {
				display: none;
			}

			.icon-tel {
				padding: 10px 7px;
				@include font-size(13);
			}
		}
	}

	.bottom {
		background: #f6f6f5;
		padding: 27px 0;
		text-align: center;
		position: relative;

		.container {
			position: static;
		}
	}
}

#main {
	padding-top: 30px;
}

#footer {
	.top {
		@extend .clearfix;
		background: #FFF;
		padding: 3.5em 0;
	}

	.bottom {
		color: #666666;
		@include font-size(13);
		@include gillsans;
		text-transform: uppercase;

		.container {
			padding: 21px 0;
			border-top: 1px solid #d7d5cf;
		}

		.logo {
			float: left;

			&:after {
				@include font-size(35);
			}

			@include device-width(5) {
				width: 100%;
				text-align: center;
				padding: 1em 0;
			}			
		}

		.copyright {
			float: right;
			line-height: 35px;
			position: relative;
			padding-right: 13em;

			@include device-width(5) {
				width: 100%;
				text-align: center;
			}

			.social-links {
				position: absolute;
				right: 0;
				top: 1px;
			}
		}
	}
}
