/* =============================================================================
   Misc
   ========================================================================== */

html {
	box-sizing: border-box;
}

* {
	box-sizing: inherit;
}

img {
	max-width: 100%;
	height: auto;

	@include print() {
		display: none;
	}
}

.ir {
	border:0;
	font: 0/0 a;
	text-shadow: none;
	color: transparent;
	background-color: transparent;
}

.hide {
	display: none;
}


.hide-on-tablet {
	@include device-width(8) {
		display: none !important;
	}
}

.hide-on-mobile {
	@include device-width(4) {
		display: none !important;
	}
}

.show,
.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.inline {
	display: inline;
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}

.no-border {
	border: none;
}

.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

.valign-middle {
	vertical-align: middle;	
}

.valign-center {
	position: absolute;
	top: 50%;
	@include translateY(-50%)
}
.dropshadow {
	@include box-shadow(3px 3px 4px #666 );
}

.text-shadow {
	text-shadow: 0px 2px 2px white;
}

hr {
	background-color: #dec7cd;
	border: 0;
    height: 3px;
	margin: 1em auto;
	width: 10%;
}


.border {
	border: 1px solid #ececec;
}

.overlay {
	position: absolute;
	z-index: 100;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

ins {
	text-decoration: none;
}

.alignright {
	float: right;
	margin-left: 15px;
}

.alignleft {
	float: left;
	margin-left: 15px;
}