/* =============================================================================
   Modules
   ========================================================================== */

blockquote {
	padding: 0 0 0 2.5em;
	position: relative;
	margin: 1em 0;
}

.pagination {
	@include font-size(10);
	text-align: center;


	.page-numbers {
		padding: 12px;
		@include font-size(12);

		&.current {
			cursor: default;
			color: #000;

			&:hover {
				color: #000;
			}
		}
	}

	span {
		&.page-numbers {
			&:hover {
				cursor: default;
				color: #000;
				
			}
		}
	}

	.next, .prev {
		display: none;
	}

	.next {
		// @extend .arrow-right-btn;
	} 

	.prev {
		// @extend .arrow-left-btn;
	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; 
    height: 0;
    min-width: 430px;
    overflow: hidden;

	iframe,
	object,
	embed {
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	}

}

.social {
	text-transform: uppercase;
	@include gillsans-medium;
	@include font-size(15);
	color: #2f2f2f;
	text-align: right;
	line-height: 1;

	span {
		position: relative;
		top: -10px;
		margin-right: 5px;
	}		

	a {
		margin: 0 7px;
	}
}

.logo-container {
	text-align: center;

	.logo {

		&:after {
			@include icon(logo);
			@include font-size(120);
			color: #000;
			@include transition(all 0.3s ease);
		}

		&:hover {
			&:after {
				color: #003e6d;
			}
		}		
	}	
}

.navigation {
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		@extend .clearfix;
	}

	li {
		float: left;
	}
}

#header {

	.menu-btn {
		display: none;

		@include device-width(8) {
			display: block;
			position: absolute;
			right: 10px;
			top: 63px;			
		}
	}	

	/* Common Nav Styles */
	.navigation {
		@extend .clearfix;	
		@include inline-block;

		ul.menu {
			list-style: none;
			padding: 0;
			@extend .clearfix;
			@include inline-block;
			position: relative;		
		}

		li {
			@include inline-block;
			padding: 0 18px;
			border-right: 1px solid #555555;

			@include device-width(10){
				padding: 0 10px;
			}

			a {
				display: block;
				margin-bottom: -5px;
				padding-bottom: 5px;
				line-height: 1;
				color: #555555;
				text-transform: uppercase;
				@include font-size(12);
				@include gillsans-medium;
				border-bottom: 1px dotted transparent;

				&:hover {
					color: #0258ad;
				}		

				@include device-width(10) {
					@include font-size(10);
				}						
			}

			&:last-child {
				border-right: none;
			}
		}
	}	

	&.navigation-open {
		.navigation {
			max-height: 500px; /* approximate max height */
		}
	}


	/* Top Nav Styles */
	#header-navigation {
		margin: 0 3em;

		@include device-width(11) {
			margin: 0em;
		}

		@include device-width(8) {
			display: none;
		}

		.menu {
			position: static;
		}

		ul.sub-menu {
			display: none;
			position: absolute;
			left: 0;
			top: 64px;
			width: 100%;
			background: #eae8e2;
			padding: 20px;
			text-align: center;		

			li {
				float: none;

			}	
		}

		.current-menu-item, .current-product_cat-ancestor {

			> a {
				position: relative;
				color: #000;
				border-bottom: 1px dotted #000;
			}

			&.menu-item-has-children {
				margin-bottom: 59px;

				ul.sub-menu {
					display: block;					
				}
			}
		}

		.menu-item-has-children.current-menu-item > a, .current-product_cat-ancestor > a{
				&:after{
					position: absolute;
					top: 200%;
					left: 50%;
					margin-left: -20px;
					content: "";
					display: inline-block;
					width: 40px;
					height: 40px;
					background-color: #eae8e2;
					@include rotate(45deg);
				}
		}
	}
}

/* =============================================================================
   Carousel
   ========================================================================== */

.owl-carousel {
	.item {
		position: relative;

		img {
			display: block;
		}

		.caption {
			position: absolute;
			bottom: 2em;
			left: 3em;
			background-color: #fff;
		    background-image: url(../images/backgrounds/strip.png);
		    background-repeat:repeat-x;
		    background-position: 100% 95%;				
			padding: 40px;	
			text-align: center;
			max-width: 375px;
			@include transition(all 0.3s ease);

			@include device-width(9) {
				position: static;
				max-width: 100%;
			}

			@include device-width(6) {
				padding: 20px;	
			}

			h1, p {
				@include gillsans-medium;
				@include font-size(25);
				color: #111111;
			}	

			p {
				@include font-size(18);
				line-height: 1;
				margin-top: 1em;				
			}

			a.link {
				@include gillsans;
				@include font-size(11);
				color: #111;
				margin-top: 3em;
				@include inline-block;				

				&:after {
					@include icon(arrow-right);
					font-size: 6px;
					margin-left: 6px;
				}

				&:hover {
					color: #0258ad;
				}
			}
		}

		&:hover {
			.caption {
				background-color: #0258ad;

				h1, p, .link {
					color: #FFF;
				}
			}
		}
	}
}   

#quick-links {
	margin: 15px 0;

	.span {
		padding: 0 5px;

		&:first-child {
			padding-left: 0;
		}	

		&:last-child {
			padding-right: 0;
		}	

		@include device-width(4) {
			width: 100%;
			padding: 0px !important;
			margin: 0.5em 0;
		}		

		a {
			display: block;
			position: relative;
			@include transition(all 0.3s ease);

			img {
				display: block;
			}

			h1 {
				position: absolute;
				bottom: 1em;
				left: 1em;
				background: #FFF;
				padding: 15px;
				@include gillsans-medium;
				@include font-size(18);
				color: #111111;	
				@include transition(all 0.3s ease);			

				&:after {
					@include icon(arrow-right);
					margin-left: 6px;
					font-size: 6px;
					float: right;
					margin-top: 5px;					
				}

				@include device-width(9) {
					@include font-size(15);
				}

				@include device-width(6) {
					@include font-size(13);
					position: static;

					&:after {
						float: none;
					}
				}	

				@include device-width(4) {
					@include font-size(13);
					position: absolute;

					&:after {
						float: none;
					}
				}							
			}

			&:hover {
				h1 {
					color: #FFF;
					background: #0258ad;
				}
			}
		}
	}
}


/* =============================================================================
   Widgets
   ========================================================================== */

.widget_price_filter {
	display: none;
}

#footer {

	.share {
		background: #eae9e7;
		padding: 15px 0;

		
		@include device-width(5) {
			.span {
				width: 100%;
				text-align: center;

				&.phone {
					margin-bottom: 1em;
				}
			}
		}

		i {
			color: #FFF;
			background: #333333;
			@include border-radius(25px);
			padding: 10px 9px;
			@include font-size(13);			
		}		

		.phone {
			color: #2f2f2f;
			@include gillsans-medium;
			@include font-size(18);
			padding-top: 3px;

			.icon-tel {
				padding: 10px 7px;
				@include font-size(13);
			}
		}		
	}

	#newsletter {
		.container {
			padding: 3em 11em 1.5em;
			border-top: 1px solid #d7d5cf;

			@include device-width(8) {
				padding: 21px 1em;
			}

			.label {
				@include american;
				@include font-size(13);
				color: #666666;
				text-transform: uppercase;
			}

			.gform_wrapper {

				.ginput_container {
					input {
						@include box-shadow(0px 2px 0px #e3e3e3 inset);
					}					
				}

				.gform_footer {
					padding: 0;
					margin: 0;

					.gform_button {
						display: none;
					}
				}
			}

		 	.gform_body {
		 		position: relative;

				.gform_fields {
					margin: 0;
					padding: 0;
					list-style: none;
					@extend .clearfix;

					&.top_label {
						.gfield_label {
							margin: 0.5em 0;
							display: none;
						}
					}	
				}
			}		

			.stamp {
				@include inline-block;
				position: absolute;
				right: -35%;
				top: -60px;	

				@include device-width(8) {
					right: 0;
				}			

				@include device-width(6) {
					display: none;	
				}
			}
		}
	}	

	aside {
		@include borderbox;
		width: 25%;
		text-align: center;

		@include device-width(8) {
			width: 50%;
			margin-bottom: 3em;
			padding-right: 5%;

			&:nth-child(3) {
				clear: left;
			}
		}

		@include device-width(4) {
			width: 100%;
		}

		.widget-title {
			color: #111111;
			@include font-size(16);
			@include gillsans-medium;
			text-transform: none;
			text-transform: uppercase;

			&:after {
				@include icon(chevron-down);
				font-size: 0.5em;
				margin-left: 1em;				
				display: none;

			}			
			@include device-width(4) {
				cursor: pointer;

				&:after {
					@include inline-block;
				}
			}
		}

		&.open {
			.widget-title {
				&:after {
					@include icon(chevron-up);
				}
			}
		}

		ul {
			list-style-type: none;
			padding: 0;

			li {

				a {
					color: #111;
					@include font-size(13);
					@include gillsans;
					font-weight: normal;
					line-height: 1.7;
					text-transform: uppercase;
					display: block;
					text-align: center;

					&:hover {
						color: #0258ad;
					}
				}
			}
		}
	}	

	.footer-navigation {
		text-align: right;

		@include device-width(6) {
			text-align: center;
			margin-bottom: 2em;
		}

		ul.menu {
			@include inline-block;

			li {
				border-right: 1px solid #949494;
				line-height: 1;

				&:last-child {
					border-right: none;
				}

				@include device-width(4) {
					border-right: none;
					width: 100%;
					border-bottom: 1px solid #F0F0F0;
					padding: 1em 0;

					&:last-child {
						border-bottom: none;
					}					
				}

				a {
					@include font-size(13);
					@include gillsans;
					color: #666666;
					padding: 0 18px;
					font-weight: normal;

					&:hover {
						color: #0258ad;
					}

					@include device-width(7) {
						@include font-size(12);
						padding: 0 14px;
					}
				}
			}
		}
	}
}   



/* =============================================================================
   Lists
   ========================================================================== */

.unstyled-list {
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		margin: 8px 0;
	}
}


/* =============================================================================
   Mobile Navigation
   ========================================================================== */

.mobile-navigation {
	display: none;
	width: 100%;
	max-width: 100%;
	float: left;
	position: relative;
	-webkit-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
	z-index: 200;
	text-align: right;
	background-color: #4691a7;

	@include device-width(8) {
		display: block;
	}

	&:first-child {
		margin-right: 100px;
	}	

	button {
		background: #4691a7;
		border: none;
		width: 48px;
		height: 45px;
		text-indent: -900em;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		outline: none;
		margin-right: 20px;

		&:after {
			content: '';
			position: absolute;
			width: 68%;
			height: 5px;
			background: #fff;
			top: 10px;
			left: 16%;
			box-shadow: 
				0 10px 0 #fff, 
				0 20px 0 #fff;
		}
	}

	button:hover,
	button.dl-active,
	ul {
		background: lighten(#4691a7, 10%);
	}

	ul {
		text-align: left;
		padding: 0;
		list-style: none;
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}	

	li {
		position: relative;

		a {
			display: block;
			position: relative;
			padding: 15px 20px;
			font-size: 16px;
			line-height: 20px;
			font-weight: 300;
			color: #fff;
			outline: none;
		}		
	}
}

.no-touch {
	.dl-menuwrapper {
		li a:hover {
			background: rgba(255,248,213,0.1);
		}	
	}
}  

.dl-menuwrapper {

	li {

		&.dl-back {
			> a {
				padding-left: 40px;
				background: rgba(0,0,0,0.1);
			}

			&:after {
				left: 10px;
				color: rgba(212,204,198,0.3);
				-webkit-transform: rotate(180deg);
				transform: rotate(180deg);
			}	
		}

		&.dl-back:after,
		> a:not(:only-child):after {
			position: absolute;
			top: 0;
			line-height: 50px;
			@include font-size(10);
			@include icon(arrow-right);
			speak: none;
			-webkit-font-smoothing: antialiased;
			color: #FFF;
		}			

		> a:after {
			right: 10px;
			color: rgba(0,0,0,0.15);
		}	

		/* Hide the inner submenus */
		.sub-menu {
			display: none;
		}			
	}

	.dl-menu {
		margin: 0;
		position: absolute;
		width: 100%;
		opacity: 0;
		pointer-events: none;
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;

		&.dl-menu-toggle {
			transition: all 0.3s ease;
		}

		&.dl-menuopen {
			opacity: 1;
			pointer-events: auto;
			-webkit-transform: translateY(0px);
			transform: translateY(0px);
		}	

		/* 
		When a submenu is openend, we will hide all li siblings.
		For that we give a class to the parent menu called "dl-subview".
		We also hide the submenu link. 
		The opened submenu will get the class "dl-subviewopen".
		All this is done for any sub-level being entered.
		*/

		&.dl-subview {
			li,
			li.dl-subviewopen > a,
			li.dl-subview > a {
				display: none;
			}	

			li.dl-subview,
			li.dl-subview .sub-menu,
			li.dl-subviewopen,
			li.dl-subviewopen > .sub-menu,
			li.dl-subviewopen > .sub-menu > li {
				display: block;
			}			
		}
	}	
	/* Dynamically added submenu outside of the menu context */
	> .sub-menu {
		position: absolute;
		width: 100%;
		top: 50px;
		left: 0;
		margin: 0;
	}	
}

/* Animation classes for moving out and in */

.dl-menu.dl-animate-out-3 {
	-webkit-animation: MenuAnimOut 0.4s ease;
	animation: MenuAnimOut 0.4s ease;
}

@-webkit-keyframes MenuAnimOut {
	0% { }
	100% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
}

@keyframes MenuAnimOut {
	0% { }
	100% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
}

.dl-menu.dl-animate-in-3 {
	-webkit-animation: MenuAnimIn3 0.4s ease;
	animation: MenuAnimIn3 0.4s ease;
}

@-webkit-keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes MenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(300px);
		transform: translateZ(300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

.dl-menuwrapper > .sub-menu.dl-animate-in-3 {
	-webkit-animation: SubMenuAnimIn3 0.4s ease;
	animation: SubMenuAnimIn3 0.4s ease;
}

@-webkit-keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
}

@keyframes SubMenuAnimIn3 {
	0% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
}

.dl-menuwrapper > .sub-menu.dl-animate-out-3 {
	-webkit-animation: SubMenuAnimOut 0.4s ease;
	animation: SubMenuAnimOut 0.4s ease;
}

@-webkit-keyframes SubMenuAnimOut {
	0% {
		-webkit-transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		opacity: 0;
	}
}

@keyframes SubMenuAnimOut {
	0% {
		-webkit-transform: translateZ(0px);
		transform: translateZ(0px);
		opacity: 1;
	}
	100% {
		-webkit-transform: translateZ(-300px);
		transform: translateZ(-300px);
		opacity: 0;
	}
}


/* No JS Fallback */
.no-js {
	.dl-menuwrapper {
		.dl-menu {
			position: relative;
			opacity: 1;
			-webkit-transform: none;
			transform: none;		
		}

		li {
			.sub-menu {
				display: block;
			}	

			&.dl-back {
				display: none;
			}

			> a:not(:only-child) {
				background: rgba(0,0,0,0.1);

				&:after {
					content: '';
				}
			}			
		}	
	}  
}