#front-page {

	.content {

		.span {
			padding: 3em;

			@include device-width(4) {
				padding: 3em 0em;				
			}
		}
	}
	
}

#scrapbook {
	padding-bottom: 10%;
	@extend .clearfix;

	.item {
		margin: 10px 0;

		@include device-width(6) {
			&.five {
				width: 100%;
			}

			&.two-and-half {
				width: 50%;
			}
		}
		
		.btn {
			display: block;
			background: #eeeeee;
			padding: 14px;

			img {
				display: block;
				@include box-shadow(0px 1px 6px #000);
			}

			&:before {
				content: '';
				background-image: url(../images/misc/tapes.png);
				background-repeat: no-repeat;
				display: block;		
				position: absolute;

			}

			&.tape-top-left {
				&:before {
					width: 38px;
					height: 25px;
					left: -3px;
					top: -10px;
					background-position: top left;
				}
			} 

			&.tape-top-right {
				&:before {
					width: 38px;
					height: 25px;
					right: -3px;
					top: -10px;
					background-position: top right;
				}
			} 

			&.tape-bottom-left {
				&:before {
					width: 38px;
					height: 25px;
					left: -3px;
					bottom: -10px;
					background-position: bottom left;
				}
			} 				

			&.tape-bottom-right {
				&:before {
					width: 38px;
					height: 25px;
					right: -3px;
					bottom: -10px;
					background-position: bottom right;
				}
			} 					
		}
	}
}

#gifts {
	#content {
		>ul.products {
			li {
				margin: 3% 1%;

				@include device-width(8) {
					margin: 3% 2%;
					width: 46%;		

					clear: none;			
				}

				h3, .price {
					color: #FFF;
					padding: 0;
				} 

				// Colors
				&:nth-child(5n+1) {
					.gift-top {
						background: #a29494;
					}
				} 

				&:nth-child(5n+2) {
					.gift-top {
						background: #074879;
					}
				}

				&:nth-child(5n+3) {
					.gift-top {
						background: #503d3d;
					}
				}

				&:nth-child(5n+4) {
					a {
						margin-top: 20px;
					}

				 	.gift-top {
						background: #bf1e2e;
					}
				}

				&:nth-child(5n) {
					.gift-top {
						background: #102f46;
					}					
				} 

				// Positions
				&:nth-child(4n+2) {
					a {
						margin-top: 50px;
					}
				}

				&:nth-child(4n+3) {
					a {
						margin-top: -65px;
					}
				}	

				&:nth-child(4n+4) {
					a {
						margin-top: 20px;
					}		
				}

				@include device-width(6) {
					&:nth-child(2n+2) {
						clear: none !important;
					}
				}	

				@include device-width(4) {
					width: 98%;
					margin: 5% 2%;

					a {
						margin-top: 0 !important;
					}
				}							

				&:nth-child(4) {	
					clear: none;
				}

				&.first {	
					clear: left;
				}

				.gift-top {
					@extend .clearfix;
					display: block;
					padding: 70px 40px 35px;
					position: relative;

					@include device-width(6) {
						padding: 60px 25px 25px;
					}

					&:before {
						content: '';
						width: 21px;
						height: 21px;
						background: url(../images/misc/gift-card-hole.png) left top no-repeat;
						position: absolute;
						margin-left: -10px;
						left: 50%;
						top: 18px;
					}

				}

				//String
				&:nth-child(1), &:nth-child(8n+7) {
					.gift-top {
						&:after {
							content: '';
							width: 60%;
							height: 150%;
							background-image: url(../images/misc/string.png);
							background-size: 100% 100%;
							position: absolute;
							margin-left: -10px;
							left: 15%;
							top: -132%;	

							@include device-width(5) {
								display: none;
							}									
						}
					}
				} 				


				img {
					display: block;
					margin: 0;
					@include box-shadow(none);
					position: relative;
					z-index: 5;
				}
			}
		}
	}
}

#upcycling-diary {
	@extend .clearfix;

	.span {
		padding: 0;

		@include device-width(6) {
			&.five {
				width: 100%;	
			}
		}

		img {
			display: block;
		}

		&.prepare {
			padding-bottom: 70px;

			span {
				@include gillsans-medium;
				color: #191c25;
				text-transform: uppercase;
				float: left;
				margin: -25px 0 0 20%;
				@include font-size(12);				
			}
		}

		&.up-title {
			.inner {
				padding: 10%;
				
				img {
					margin: 0 auto;
				}

				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				text-align: center;
				@include american;
				color: #FFF;
			}
		}
	}
}

#error {
    background-size: 100% auto;

    #content {
    	border: none;
    	@extend .container;
    }
	
	h1 {
	    color: #d4e5f4;
	    font-size: 10em;
	    @include american;
	}
	
	h2 {
	    color: #d4e5f4;
		font-size: 2em;
    	margin: 0 0 0 8em;
    	@include american;
    	text-transform: none;

    	@include device-width(7) {
    		margin: 0 0 0 3em;
    	}

    	@include device-width(5) {
    		margin: 0 0 0 0;
    	}

	}

	p {
		@include american;
	    color: #072C44;
	    font-size: 1.4em;
	    margin-top: 10%;
	}
	
	span {
	    color: #B7DEE7;
	    float: right;
	    font-size: 7em;
	}
}

#blog {
	max-width: 820px;
	margin: 0 auto;
	@extend .clearfix;

	article.blog {
		@extend .clearfix;
		padding: 2.5em 0;
		width: 100%;
		border-bottom: 1px solid #D6D5CE;

		&:last-child {
			border-bottom: none;
		}

		.title {
			@include font-size(22);
			line-height: 1.2;
			@include american;
		}

		.image, .content {
			@include device-width(8) {
				width: 100%;
			}
		}
	}
}

#links {
	padding: 3em 0 5em;

	.gallery {
		@extend .clearfix;	

		.span {
			margin: 7% 0;
			text-align: center;

			@include device-width(8) {
				width: 33%;
			}

			@include device-width(5) {
				width: 50%;
			}

		}

		a {
			img {
				display: block;
			}
		}
	}
}