
a {
	text-decoration: none;
	color: #CCC;
	cursor: pointer;
	@include transition(all 0.3s ease);
	&:hover {
		color: #000;
	}
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	line-height: 0.9;
	text-transform: uppercase;
	@include font-size(25);
	@include gillsans;
	color: #010101;
}

h2 {
	line-height: 1.8;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 6px;
}

h3 {
	line-height: 1;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 4px;
}

h4 {
	line-height: 1;
	letter-spacing: 4px;
	text-transform: uppercase;
}

h5 {
	line-height: 1;
	letter-spacing: 2px;
	text-transform: uppercase;
}

h6 {
	line-height: 1;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.huge {
	font-size: 150%;
}

.big {
	font-size: 130%;
}

.small {
	font-size: 90%;
}

.small {
	margin: 0.4em 0;
}

.tiny {
	font-size: 70%;
}

.bold,
strong,
b {
	font-weight: bold;
}

.content {

	p {
		@include font-size(15);
		line-height: 1.4;

		strong {
			@include font-size(18);		
		}
	}

    .map {
        position: relative;
        padding-bottom: 75%; // This is the aspect ratio
        height: 0;
        overflow: hidden;
        margin-top: 4em;

		iframe {
	        position: absolute;
	        top: 0;
	        left: 0;
	        width: 100% !important;
	        height: 100% !important;
	    }        
    }

    .row {
    	p {
    		.button {
    		margin-top: 20px;		
    		}
    	}
    }
}
