
a {
	text-decoration: none;
	color: #CCC;
	cursor: pointer;
	@include transition(all 0.3s ease);
	&:hover {
		color: #000;
	}
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1 {
	line-height: 0.9;
	text-transform: uppercase;

	&:before {
		font-size: 70%;
	}
}

h2 {
	line-height: 1.8;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 6px;
	&:before {
		font-size: 70%;
	}
}

h3 {
	line-height: 1;
	text-transform: uppercase;
	font-weight: normal;
	letter-spacing: 4px;

	&:before {
		font-size: 70%;
	}
}

h4 {
	line-height: 1;
	letter-spacing: 4px;
	text-transform: uppercase;
	&:before {
		font-size: 70%;
	}
}

h5 {
	line-height: 1;
	letter-spacing: 2px;
	text-transform: uppercase;
	&:before {
		font-size: 70%;
	}
}

h6 {
	line-height: 1;
	letter-spacing: 2px;
	text-transform: uppercase;

	&:before {
		font-size: 70%;
	}
}

p {}

.huge {
	font-size: 150%;
}

.big {
	font-size: 130%;
}

.small {
	font-size: 90%;
}

.small {
	margin: 0.4em 0;
}

.tiny {
	font-size: 70%;
}

.bold,
strong,
b {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.italic {
	font-style: italic;
}

.align-left,
.text-left {
	text-align: left;
}

.align-right,
.text-right {
	text-align: right;
}

.align-center,
.text-center {
	text-align:  center;
}

.align-middle,
.text-middle {
	vertical-align: middle;
}

.normal-style {
	font-style: normal;	
}

.underline {
	text-decoration: underline;	
}

.uppercase {
	text-transform: uppercase;
}

.normalcase {
	text-transform: none;
}
