@import 'compass/css3';
@import 'mixins';
@import 'normalize';
@import 'fonts';
@import 'icons';
@import 'typography';
@import 'grid';
@import 'forms';
@import 'buttons';
@import 'misc';
@import 'modules';
@import 'layout';
@import 'templates';

html {
	height: 100%;
	font-size: 62.5%;
}

body {
	overflow-x: hidden;
	padding: 10px;
	color: #333333;
	@include font-size(14);
	line-height: 1.6;
	min-width: 250px;
}